<nav class="navbar navbar-dark navbar-expand-lg mb-5 w-100" style="background-color: #4a5c59;">
    <a class="navbar-brand" href="#">Ahorcado</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/jugar']" routerLinkActive="active">Jugar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/mantenimiento']" routerLinkActive="active">Mantenimiento</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>